{% extends 'layout.html' %}

{% block content %}

<div class="row">


    <div class="col-md-6">
        <!-- Modal for Login -->
        <div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalLogin">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <h1 class="fw-bold mb-0 fs-2">Login</h1>
                    </div>

                    <div class="modal-body p-5 pt-0">
                        <!-- Flask-WTF Form inside Modal -->
                        <form method="POST">
                            {{ form.hidden_tag() }}

                            <!-- Email Field with Validation in Modal -->
                            <div class="form-floating mb-3">
                                {% if form.email.errors %}
                                {{ form.email(class="form-control rounded-3 is-invalid") }}
                                <label for="floatingEmail">{{ form.email.label.text }}</label>
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="form-control rounded-3") }}
                                <label for="floatingEmail">{{ form.email.label.text }}</label>
                                {% endif %}
                            </div>

                            <!-- Password Field with Validation in Modal -->
                            <div class="form-floating mb-3">
                                {% if form.password.errors %}
                                {{ form.password(class="form-control rounded-3 is-invalid") }}
                                <label for="floatingPassword">{{ form.password.label.text }}</label>
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.password(class="form-control rounded-3") }}
                                <label for="floatingPassword">{{ form.password.label.text }}</label>
                                {% endif %}
                            </div>

                            <!-- Submit Button -->
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Login</button>

                        </form>
                        <div class="form-group mt-2">
                            <small class=" fs-6">
                                <a href="{{ url_for('auth.reset_request') }}"> I Forgot My Password </a>
                            </small>
                        </div>
                        <div class="border-top py-2 mt-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 d-md-flex d-none align-items-center justify-content-center">
        <img src="{{url_for('static',filename='img/login.png')}}" alt="Registration Image" class="img-fluid">
    </div>


</div>


{% endblock %}
