{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Add New User</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% if form.email.errors %}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% if form.password.errors %}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group my-4">
          {{ form.role.label(class="form-control-label") }} <br>
          {% for subfield in form.role %}
          <label class="form-check">
            {{ subfield(class="form-check-input") }} {{ subfield.label }}
          </label>
          {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Add User</button>
    </form>
</div>
{% endblock %}
