{% extends 'layout.html' %}

{% block content %}
<h2>Edit Lesson: {{ lesson.title }}</h2>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }} {{ form.title(size=20) }}
    </div>
    <div>
        {{ form.content.label }} {{ form.content(cols=40, rows=5) }}
    </div>
    <div>
        {{ form.youtube_link.label }} {{ form.youtube_link(size=40) }}
    </div>
    <div>
        {{ form.video_file.label }} {{ form.video_file }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>


<a href="{{ url_for('course.course_details', course_id=lesson.course.id) }}">Back to Course</a>
{% endblock %}
